@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: linear-gradient(to bottom, #000000 60%, #101010 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ededed;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
    transition: background-image 0.5s ease;
    /* Smooth transition for gradient change */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
    margin: 0;
}

.center {
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    /* Align children vertically */
    justify-content: center;
    /* Center children vertically in the container */
    align-items: center;
    /* Center children horizontally in the container */
    height: 90vh;
    /* Make the search container take the full height of the viewport */
    margin: 0 auto;
    /* Center the container on the page horizontally */
}

.search {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #ededed;
    transition: 0.3s;
    text-align: center;
}

.search::placeholder {
    color: #8f8f8f;
}

.search:focus {
    width: 400px;
}

.proxy-container {
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: #1a1a1a;
    transform-origin: 50% 50%;
}

.proxy-open-animation {
    animation: proxy-open 1s ease-in-out;
    animation-fill-mode: forwards;
    border: 2px solid #1a1a1a;
}

@keyframes proxy-open {
    from {
        width: 1px;
        height: 1px;
        border-radius: 0px;
    }

    to {
        width: 90%;
        height: 90vh;
        border-radius: 10px;
    }
}

.proxy-close-animation {
    animation: proxy-close 1s ease-in-out;
    animation-fill-mode: forwards;
    border: none;
}

@keyframes proxy-close {
    from {
        width: 90%;
        height: 90vh;
        border-radius: 10px;
    }

    to {
        width: 1px;
        height: 1px;
        border-radius: 0px;
    }
}


.proxy-outer-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.close-icon {
    position: absolute;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
