@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: linear-gradient(to bottom, #000000 60%, #101010 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ededed;
    font-family: "Poppins", sans-serif;
    min-height: 100vh; /* This ensures the body takes at least the full height of the viewport */
    margin: 0;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
    margin: 0;
}

.center {
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center children vertically in the container */
    align-items: center; /* Center children horizontally in the container */
    height: 90vh; /* Make the search container take the full height of the viewport */
    margin: 0 auto; /* Center the container on the page horizontally */
}

.search {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #ededed;
    transition: 0.3s;
    text-align: center;
}

.search::placeholder {
    color: #8f8f8f;
}

.search:focus {
    width: 400px;
}